{{!-- Start Nav --}}
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="template-demo">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/municipalities/list">Lista Países</a>
                            {{!--
                        <li class="breadcrumb-item"><a href="#">Data</a></li> --}}
                        {{!-- <li class="breadcrumb-item active" aria-current="page">Municipios > <u>{{selectedState.name}}</u></li> --}}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{{!--End Nav --}}

{{!-- Button --}}
<div class="col-12">
    <div class="row">
        <div class="mb-3">
            <a href="/countries/create-view" class="btn btn-inverse-primary btn-fw">Nuevo + </a>
        </div>
    </div>
</div>
{{!-- End button --}}

{{!-- Table --}}
<div class="card">
    <div class="card-body">
        <div class="col-12">
            <div class="row">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>id_país #</th>
                                <th>Nombre País</th>
                                <th>Estado</th>
                                <th>Modificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each countries }}
                            <tr>
                                <td>{{country_id}}</td>
                                <td>{{name}}</td>
                                <td>{{#stateDetails active}}{{/stateDetails}}
                                </td>
                                <td>
                                    <a  href="/countries/{{country_id}}/update-view" class="btn btn-inverse-dark">
                                        Actualizar
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- End Table --}}