{{!-- Start Nav --}}
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="template-demo">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        {{!-- <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item"><a href="#">Data</a></li> --}}
                        <li class="breadcrumb-item active" aria-current="page">Departamentos</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{{!--End Nav --}}

{{!-- Start Table --}}
<div class="row">
    <div class="col-lg-12 grid-margin">
        <div class="card">
            <div class="card-body">
                {{!-- <div class="mb-3">
                    <a href="/state/create" class="btn btn-inverse-primary btn-fw">Nuevo + </a>
                </div> --}}
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>
                                    Departamento
                                </th>
                                 <th>
                                    Nº Municipios
                                </th>
                                <th>
                                    Estado Departamento
                                </th>
                                <th>
                                    Ver Municipios
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each states}}
                            <tr>
                                <td>
                                    {{name}}
                                </td>
                                 <td>
                                    1
                                </td>   
                                <td>
                                    {{#stateDetails active}}{{/stateDetails}}
                                </td>
                                <td>
                                    <a href="/states/{{state_id}}/municipalities-list" class="btn btn-inverse-dark mr-3">
                                        <i class="ti-eye"></i>
                                    </a>
                                    {{!-- <a href="" class="btn btn-inverse-danger">
                                        <i class="ti-trash"></i>
                                    </a> --}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- End Table --}}